# Core packages
streamlit
pandas
requests
fuzzywuzzy
python-docx
pytz
xlsxwriter
openpyxl
pdfplumber

# Streamlit-specific integrations
st-gsheets-connection

# Google Sheets API
gspread
gspread-dataframe
google-api-python-client
google-auth

